{% extends 'base.html' %}

{% block head %}

{% endblock%}

{% block body %}

<div class="content">
    <h1>Livres :</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Livre 1</td>
                <td>
                    <a href="">Détails</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Livre 2</td>
                <td>
                    <a href="">Détails</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Livre 3</td>
                <td>
                    <a href="">Détails</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock%}